<div class="layout-wrapper">
  <header class="navbar">
    <div class="brand">
      <a routerLink="/">Acadian</a>
    </div>

    <nav class="nav-links">
      @for (item of navItems(); track item.id) {

      @if (item.children && item.children.length > 0) {
      <div class="dropdown">
        <a [routerLink]="item.routePath ? '/' + item.routePath : '/'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.routePath === '' }" class="dropdown-toggle">
          {{ item.title }}
          <span class="arrow">▾</span>
        </a>

        <div class="dropdown-menu">
          @for (child of item.children; track child.id) {
          <a [routerLink]="'/' + child.routePath" routerLinkActive="active" class="dropdown-item">
            {{ child.title }}
          </a>
          }
        </div>
      </div>
      } @else {
      <a [routerLink]="item.routePath ? '/' + item.routePath : '/'" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.routePath === '' }">
        {{ item.title }}
      </a>
      }

      }
    </nav>
  </header>

  <main class="page-body">

    <router-outlet></router-outlet>
  </main>
</div>